{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .product-price {
        font-weight: bold;
    }
    .original-price {
        text-decoration: line-through;
        color: grey;
    }
    .discount-price {
        color: red;
    }
</style>
<div class="product-section">
    <div class="container">
        <div class="row">
            {% for furniture in furnitures %}
                {% if furniture.is_published %}
                    <div class="col-12 col-md-3 mb-5 mb-md-0">
                        <div class="product-item">
                            <a class="product-item" href="{% url 'detail_url' slug=furniture.slug %}">
                                <img src="{{ furniture.photo.url }}" class="img-fluid product-thumbnail">
                                <h3 class="product-title">{{ furniture.title }}</h3>
                                {% if furniture.discount_percentage %}
                                    <div class="price-section">
                                        <span class="original-price">${{ furniture.price }}</span> 
                                        <span class="discount-price">${{ furniture.get_discount_price }}</span>
                                    </div>
                                {% else %}
                                    <strong class="product-price">${{ furniture.price }}</strong>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
