{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        <div class="row">
            {% for discount in discounts %}
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a href="{% url 'discount_detail_url' slug=discount.slug %}" class="post-thumbnail"><img src="{{ discount.photo.url }}" alt="Image" class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="#">{{ discount.title }}</a></h3>
                            <div class="meta">
                                <span>by <a href="#">{{ discount.owner }}</a></span> <span>on <a href="#">{{ discount.created_at|date:"Y-m-d" }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}    
<!-- End Blog Section -->	


{% endblock content %}